node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE
.vscode
Airbnb-booking
Airbnb-info
Airbnb-more-homes
Airbnb-reviews
Airbnb-photos